// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$primary-blue: #282560;
$secondary-blue: #264A9F;
$primary-red: #ea232a;
$primary-orange: #fbaf43;